auth:
  type: GRAVITEE
  jwt:
    secret: myJWT4Gr4v1t33_S3cr3t_F0r_K4fB4t

kafka:
  gravitee:
 #   managementApiUrl: http://localhost:8083/management/v2/organizations/DEFAULT/environments/DEFAULT
 #   managementApiOrgAdminUsername: admin
 #   managementApiOrgAdminPassword: admin
 #   managementApiOrgAdminToken: 57a72a8d-fe07-463d-a72a-8dfe07963dab # Put here a personal access token to APIM

management:
  endpoint:
    info:
      enabled: true
    health:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "info,health,prometheus"

logging:
  level:
    root: INFO
    io.kafbat.ui: DEBUG
    reactor.netty.http.server.AccessLog: INFO
    org.hibernate.validator: WARN

rbac:
  default-role:
    permissions:
      - resource: clusterconfig
        actions: [ "view" ]

      - resource: topic
        value: ".*"
        actions:
          - VIEW
          - MESSAGES_READ
          - ANALYSIS_VIEW

      - resource: consumer
        value: ".*"
        actions: [ view ]

      - resource: schema
        value: ".*"
        actions: [ view ]

      - resource: connect
        value: ".*"
        actions: [ view ]

      - resource: acl
        actions: [ view ]

